<fieldset><legend>Content Type</legend>
	<p>Please select the content type that most closely matches how the content will be distributed.</p>

	<%= type_selection_list_tag( 'video_content_type', ['VideoContentHostedOnDemand','VideoContentEmbeddedOnDemand','VideoContentHostedLive'] ) %>

</fieldset>
