<p>WARNING: You are about to permanently delete this content from the system. You can add it back later, however. This content will no longer be available for viewing.</p>

<div><%= button( 'destroy', :action => 'destroy_content', :id => @mfr.id ) %></div>
