<p>WARNING: You are about to permanently delete this video content name and all content associated with it from the system. You can add it back later, however. This content will no longer be available for viewing.</p>

<%= render :partial => 'video_content_name_info' %>

<div><%= button( 'destroy', :action => 'destroy', :id => @mfrn.id ) %></div>
