<p>Deprecating a provider does not remove or delete videos from the site or hosting provider (respectively). It merely prevents content administrators from using this hosting provider when posting videos to the site.</p>

<p>Please confirm that the following hosting provider is one you truly wish to deprecate. You may always un-deprecate it at a later time without losing any work. Note: to delete a hosting provider, and all videos associated with it, you must first deprecate it. This is a safety measure to prevent the mass-deletion of videos.</p>

<%= render :partial => 'info', :locals => { :provider => @provider } %>
