<h3>RAW HTML</h3>
<p>The following text will be rendered verbatim in the page. Please ensure that your code is valid XHTML5 in UTF-8.</p>

<div><%= label_tag( 'mfr[raw]', 'HTML' ) %><%= text_area( 'mfr', 'raw' ) %></div>
