<%= error_messages_for :episode_part %>

<% form_tag( { :action => 'update', :id => @episode_part.id } ) do %>
	<%= render :partial => 'episode_part_form' %>
	<p><%= submit( 'save' ) %></p>
<% end %>
