*.swp
*.swo
db/*.sqlite3
db/schema.rb
tmp/*
log/*
config/lighttpd.conf
config/lighttpd_*.conf
config/lighttpd-*.conf
private/videos
public/managed_file_resource_images
public/resized_images_cache
config/auth.yml
config/config.yml
config/initializers/*
!config/initializers/*.sample
config/database.yml
config/cw_task_runner_boot_daemon.rb
config/temp-dir.rb
cw_task_runner_boot.rb
public/themes
public/favicon.ico
public/player.swf
private/pages
config/task_runner_environment_file.rc
.DS_Store
app_task_runner/
.idea/*
.apdisk
!.gitkeep
config/config.yml
.bundle/*
public/resources/*
