<div class="dialog">
	<h1>Premium subscription required</h1>
	<p>This content is reserved for premium members only. You must purchase a subscription to use it. If you've already purchased a subscription, please login.</p>
</div>
