<dl>
<dt><%= label_tag( 'public_image[alt_text]', 'Alterate Text' ) %></dt>
<dd><%= text_area( 'public_image', 'alt_text' ) %><p>This text is crammed into the <%= h '<img alt="X">' %> attribute of the image tag. It should describe the image for our blind users. See: <%= link_to 'http://www.w3.org/QA/Tips/altAttribute' %></p></dd>
</dl>
