<h3>Which Version?</h3>

<p><%= label_tag( 'page_version[version]', 'Version' ) %><%= text_field_tag( 'page_version[version]', @page_version.version ) %></p>

<h3>Specify the date range</h3>

<%= mu_ex_date_range_form_tag( 'page_schedule' ) %>
