# Be sure to restart your server when you modify this file.

# Your secret key for verifying cookie session data integrity.
# If you change this key, all old sessions will become invalid!
# Make sure the secret is at least 30 characters and all random, 
# no regular words or you'll be exposed to dictionary attacks.
ActionController::Base.session = {
  :key         => 'session',
  :secret      => '118a5df6606556cd05be21a79028eafae9590c9821019df7c4b5c8ee8937e661ee7a5a55804234c142572a1e2457a48e6ebb1a458d8f7ea7675c8e2932bcf32c'
}

# Use the database for sessions instead of the cookie-based default,
# which shouldn't be used to store highly confidential information
# (create the session table with "rake db:sessions:create")
# ActionController::Base.session_store = :active_record_store
