class WatchControllerInitializer
	# This is the secret used to seed hashes for the WatchController. It can be changed at any time with minimal impact (requires service restart). It can be any length and the longer, the better. It should be a random string and extremely hard to guess
 	# If this secret is ever discovered, changing it will save you.
	# If any users are currently watching videos, they will be forced to get the current video again, instead of the next one, unless it's content, in which case, an ad will be loaded
	def self.token_secret; '896d0870a6805df23882a940c98e126c57b416ea18c9634b5b712e6a31ba'; end
end
