<p><strong>WARNING</strong>: You are about to delete this episode! All settings, versions, episode parts, ad insertion locations, and counts will be PERMANENTLY and irrevocably deleted!</p>
<p>This content ID will permanently re-direct to the site home page. You cannot re-assign this ID to a new or old episode. If you've given out links to watch this episode directly, destroying this episode is ill-advised.</p>

<p><%= button( 'delete', :action => 'destroy', :id => @episode.id ) %></p>
