<%= error_messages_for :availability %>

<% form_tag( :action => 'update_master_availability', :id => @availability.id ) do %>
	<%= render :partial => 'master_availability_form' %>
	<p><%= submit( 'save' ) %></p>
<% end %>
