<p><strong>WARNING</strong>: You are about to permanently remove this comment. It any and children of this comment, will be removed.</p>

<h3>Comment Summary</h3>

<%= render :partial => 'info' %>

<div><%= button( 'remove', :action => 'destroy', :id => @comment.id ) %></div>
