#!/usr/bin/env {YOUR RAILS ROOT}/script/runner
# Above boot straps this file into the Rails application ^ YOU MUST CHANGE THIS
# Change the above line to match the path of your RAILs application (absolute paths only) followed by "script/runner"

# FILE LOCATION:
# It is assumed that this file lives in: RAILS_ROOT/app_task_runner/cw_task_runner_boot_daemon.rb
# If you change this, you must update: vendor/plugins/cw_task_runner/lib/cw_task_runner_boot.rb


# Change the configuration to suite what you need. Generally, this need not be changed
CONFIGURATION = { :pid_path => 'tmp/pids/task_runner_daemon.pid', :socket_path => 'tmp/sockets/task_runner_daemon.s', :task_runner_request_klass => 'TaskRunnerRequest' }.freeze
# DO NOT CHANGE BELOW: THIS SHOULD JUST WORK
# Load the daemon
require 'vendor/plugins/cw_task_runner/lib/cw_task_runner.rb'
# Launch the daemon
TaskRunner.new.run
