<%= hosted_on_demand_html5_with_fallback_limelight_flash_player(
		managed_file_resource_name,
		video_contents,
		'<p>Sorry, but you need Adobe <a href="http://get.adobe.com/flashplayer" rel="external">Flash Player</a> to view our content. Please <a href="http://get.adobe.com/flashplayer" rel="external">download</a> it and install it.</p>',
        episode ) %>
