<p><strong>WARNING</strong> You are about to permanently delete this setting. If anything references it, you'll be sorry.</p>

<%= render :partial => 'info' %>

<%= button( 'destroy', :action => 'destroy', :id => @setting.id ) %>
