<p><strong>WARNING</strong>: You are about to delete the "<%= show_title(@show) %>" show! All settings, versions, episodes, episode parts, ad insertion locations, and counts will be PERMANENTLY and irrevocably deleted!</p>
