<object type="application/x-shockwave-flash" data="http://cnettv.cnet.com/av/video/cbsnews/atlantis2/cbsnews_player_embed.swf" id="unique_player_id_required_by_ie_stupidness_1" class="player">
<param name="movie" value="http://cnettv.cnet.com/av/video/cbsnews/atlantis2/cbsnews_player_embed.swf" />
<param name="allowScriptAccess" value="always" />
<param name="flashVars" value="si=254&amp;contentValue=<%= video_contents.first.video_id %>" />
<param name="quality" value="high" />
<param name="allowFullScreen" value="true" />
<p>Sorry, but you need Adobe <a href="http://get.adobe.com/flashplayer" rel="external">Flash Player</a> to view our content. Please <a href="http://get.adobe.com/flashplayer" rel="external">download</a> it and install it.</p>
</object>
