<iframe type="text/html" src="<%= url_for video_contents.first.data_url( 'origin' => 'http' + (@controller.request.ssl? ? 's' : '') + '://' + @controller.request.host ) %>" frameborder="0" title="<%= h ( (episode.nil?) ? ('YouTube Video') : ( episode.current_version_or_latest.title ) ) %>" class="player" allowfullscreen="1">
<p><em>We're sorry, there was a problem loading this video. Please see <a href="<%= url_for video_contents.first.watch_url %>">YouTube</a> for the full video from YouTube. Sorry for the inconvenience</em></p>
</iframe>
